*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: $color-bg;
  color: $color-text;
  font-family: $font-main;
  font-size: $font-size-base;
  line-height: $line-height-base;
}
