@mixin container($max-width: $container-width) {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
